{% extends "base.html" %}

{% block title %} Detaliile comenzii | Plant Store{% endblock %}

{% block body %}
<div class="row" style="padding-top: 100px;">
	<div class="col-lg-8">
		<h3 class="bold">
			<i class="glyphicon glyphicon-pencil"></i> Detalii de livrare
		</h3>

		<div class="panel panel-primary">
			<form method="POST" action="{{ url_for('checkout') }}">
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<h4 class="bold">Informații personale</h4>
					</div>
					{{ form.csrf_token }}
					<div class="col-lg-6">
						<div class="form-group">
							<label>Prenume</label>
							{{ form.first_name(class='form-control') }}
						</div>
						<div class="form-group">
							<label>Nume</label>
							{{ form.last_name(class='form-control') }}
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label>Număr de telefon</label>
							{{ form.phone_number(class='form-control') }}
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<h4 class="bold">Adresa</h4>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label>Adresa</label>
							{{ form.address(class='form-control') }}
						</div>
						<div class="form-group">
							<label>Oraș</label>
							{{ form.city(class='form-control') }}
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label>Județ</label>
							{{ form.state(class='form-control') }}
						</div>
						<div class="form-group">
							<label>Țara</label>
							{{ form.country(class='form-control') }}
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<h4 class="bold">Plata</h4>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label>Tipul plății</label>
							{{ form.payment_type(class='form-control') }}
						</div>
					</div>
				</div>
			</div>

			<div class="panel-footer">
				<button type="submit" class="btn btn-primary btn-sm">
					Trimite comanda
				</button>
			</div>
			</form>
		</div>
	</div>

	<div class="col-lg-4">
		<h3 class="bold">
			<i class="glyphicon glyphicon-th-list"></i> Detaliile comenzii
		</h3>

		<div class="panel panel-primary">
			<div class="panel-body">
				Valoarea curenta a coșului
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<p>
						{{ quantity_total }} Produse <strong class="pull-right">{{ grand_total / 100 }} lei</strong>
					</p>
					<p>
						Livrarea in 24h <strong class="pull-right">10 lei</strong>
					</p>
				</li>
				<li class="list-group-item">
					<p>Total <strong class="pull-right">&dollar;{{ grand_total_plus_shipping / 100 }}</strong></p>
				</li>
			</ul>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Beneficii</h3>
			</div>
			<div class="panel-body">
				Printre beneficiile de care dispuneți:
			</div>
			<ul class="list-group">
				<li class="list-group-item">Livrare a doua zi</li>
				<li class="list-group-item">Retur timp de 30 de zile</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}