{% extends "base.html" %}

{% block title %}Vizualizare produs | Plant Store{% endblock %}

{% block body %}
<div class="align" style="padding-top:100px">
<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Comenzile mele:</h4>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
                            <th>ID-ul comenzii</th><th>Detalii</th><th>Numărul produselor</th><th>Adresa de livrare</th><th>Status</th></th>
						</tr>
					</thead>
					<tbody>
						{% for o in orders %}
						<tr>
							<td>{{ o.id }}</td>
                            <td><a href="{{ url_for('view_user_order', order_id=o.id) }}">Detalii</a></td>
                            <td>{{ o.quantity_total() }}</td>
							<td>{{ o.address }}</td>
							<td>{{ o.status }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}